/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.jumbotron {
	text-align: center;
	margin:0 auto;
	background-color: white !important;
}